*{
  text-align: center;

}

/* Hides empty space to right of page: */
html, body {
  background-color: #ffadc7;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

header {
  margin: auto;
  text-align: center;
  font-weight: bolder;
  padding-top: 60px;
}

header h1 {
  font-size: 50px;
  font-weight: bold;
}
header p {
  font-size: 30px;
  font-weight: bold;
}

h2{
  font-size: 3rem;
}

main {
  background-color: #ea5f93;
}

form {
  position: relative;
    /* transform: rotate(45deg) translateY(-1em); */
}

footer {
  padding: 40px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

#header {
  max-width: 100%;
}

#headerImage {
  margin-top: 40px;
  width: 90%;
  height: 50vh;
  border: 3px solid black;
  padding: 0px;
  border-radius: 6px;
  object-fit: cover;
}

/* #secondPinkBackground {
  background-color: #ea5f93;
  width: 100%;
  height: 200px;
  position: relative;
  transform-origin: 20% 40%;
  display:inline;
} */

/* Main body */
/* #name { 
  background-color: rgb(11, 1, 1);
  color: beige;
  width: 30%;
  height: 80px;
  margin-left: 10%;
  color: aliceblue;
  text-align: center;
  border-radius: 10px;
  border: 7px solid black;
  position: absolute;
  z-index: 7;
  margin-top: -40%;
}

#name1 {
  background-color: rgb(11, 1, 1);
  color: beige;
  width: 30%;
  height: 80px;
  margin-left: 60%;
  color: aliceblue;
  text-align: center;
  border-radius: 10px;
  border: 7px solid black;
  position: absolute;
  z-index: 7;
  margin-top: -40%;
} */


.heartOrientation {
  transform: rotate(45deg) translateY(-1em);
  margin-left: 20%
}

/* Heart Stem - Point */
.heart {
  background: red;
  position: relative;
  height: 150px;
  width:150px;
  /* Animation */
  animation: pulse 2s linear infinite;
  margin-top: 30%;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20%;
}

/* Left side of heart */
.heart::after {
  background: inherit;
  border-radius: 50%; 
  content:'';
  position:absolute;
  top: -50%; 
  left:0;
  height: 150px;
  width: 150px;
}

/* Right side of heart */
.heart::before {
  background:inherit; 
  border-radius: 50%; 
  content:'';
  position:absolute;
  top:0; 
  right:-50%; 
  height: 150px;
  width:150px;
}

/* Adjusts text box inside of heart */
.heart input {
  position: relative;
  z-index: 1;
  transform: rotate(45deg) translateY(1.5em);
  width: 220px;
  margin-left: 20px;
  margin-top: 100px;
}


/* Heart Beat Animation */
@keyframes pulse{
  0% {
      transform: rotate(-450deg) scale(1);
      opacity: 1;
  }
  
  /*
  10% {
      transform: rotate(-45deg) scale(1.3);
  }
  20% {
      transform: rotate(-45deg) scale(0.9);
  }
  30% {
      transform: rotate(-45deg) scale(1.2);
  }
  40% {
      transform: rotate(-45deg) scale(0.9);
  }*/
  
  50% {
      transform: rotate(-450deg) scale(1.3);
      opacity: 1;
  }
  
  /*
  60% {
      transform: rotate(-45deg) scale(0.95);
  }
  70% {
      transform: rotate(-45deg) scale(1);
  } */
  
  100% {
      transform: rotate(-450deg) scale(1);
      opacity: 1;
  }
}


#compatibilityFormSearchBtn {
  background-color: #080e09; 
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  width: 400px;
  height: 80px;
  border: 7px solid black;
  margin-top:10%;
}

/* Progress bar section */
.progress {
  margin: auto;
  position: relative;
  width: 75vw;
  height: 75px;
  background: pink;
  border-radius: 25px;
  overflow: hidden;
}

.progress-fill {
  width: 0%;
  height: 100%;
  background: red;
  transition: all 0.2s;
}

.progress-text {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font: bold 14px "Quicksand", sans-serif;
  color: #110101;
}

/* Joke Section */
#jokeSection {
}

#jokeHeader {
  background-color: #f58dcf;
  text-align: center;
  padding: 3rem 2rem 3rem 2rem;
  border: #080e09 solid 3px;
}

#jokeFieldset {
  /* border: #080e09 2px solid; */
  display: flex;
  /* text-align: center; */
    flex-wrap: wrap;
  justify-content: space-evenly;

  padding-right: 20px;
}

#jokeLegend {
  font-size: 4rem;
  width: 100vw;
  padding-left: 20px;
  padding-right: 40px;
}

#jokeFieldset div {
  /* border: #080e09 2px solid; */
  width: 100%;
  /* text-align: center; */
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
}

#checkBoxes div {

}

/* Activity section */
.activity{
  padding-top: 3rem;
}

/* Checkbox Size */
input[type=checkbox] {
  transform: scale(2);
}

#pro {
  color: #1abc9c;
  font-weight: bolder;
  font-size: larger;
}

#misc {
  color: #d00;
  font-weight: bolder;
  font-size: larger;
}

#dark {
  color: rgb(195, 67, 67);
  font-weight: bolder;
  font-size: larger;
}

#pun {

  color: rgb(223, 135, 135);
  font-weight: bolder;
  font-size: larger;
}

#spo {
  color: rgb(216, 90, 168);
  font-weight: bolder;
  font-size: larger;
}

#chr {
  color: rgb(147, 75, 126);
  font-weight: bolder;
  font-size: larger; 
}

#jokeCheckBoxSubmit {
  background-color: #080e09; 
  border: none;
  color: white;
  padding: 15px 42px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  display:block;
}

/* Activity Section */
.activity{
  padding: 3rem 2rem 2rem 2rem;
  border-top: #080e09 3px dotted;
}

/* History section */
#searchHistorySection {
  background-color: #ffadc7
}

#searchHeader{
  padding: 3rem;
  border-top: #080e09 3px solid;
}

#listHistory {
  list-style-type: none;
}


/* Adjust for media size */
@media screen and (max-width: 641px) {
  /* Heart Stem - Point */
  .heart {
    margin-left: auto;
    margin-right: auto;
  }
  .heartOrientation {
    transform: rotate(45deg) translateY(-1em);
    margin-left: auto;
  }
  #compatibilityFormSearchBtn {
    width: 100%;
  }
  #jokeLegend{
    font-size: 4rem;
  }
}

