*{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* Hides empty space to right of page: */
html, body {
  background-color: #ffadc7;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

header {
  margin: auto;
  text-align: center;
  font-weight: bolder;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Title of Page */
header h1 {
  font-size: 60px;
  font-weight: bold;
  
  /* Creates the background container */
  border: rgb(243, 243, 243) 2px solid;
  background-color: rgb(243, 243, 243);
  width: 90%;
  border-radius: 0px 100px / 120px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

header p {
  font-size: 30px;
  font-weight: bold;
}

h2{
  font-size: 3rem;
}

main {
  background-color: #ea5f93;
  border-top: #080e09 3px solid;
}

form {
  position: relative;
    /* transform: rotate(45deg) translateY(-1em); */
}

footer {
  padding: 40px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

#header {
  max-width: 100%;
}

#headerImage {
  margin-top: 40px;
  width: 70%;
  height: 50vh;
  border: 3px solid black;
  padding: 0px;
  border-radius: 6px;
  object-fit:cover;
  background-color: black;
  padding: 1px;
}

#compatibilitySection h2 {
  margin-top: 10px;
  margin-bottom: 60px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 60px;
  border: rgb(243, 243, 243) 2px solid;
  background-color: rgb(243, 243, 243);
  width: 70%;
  border-radius: 0px 100px / 120px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#compatibilitySection h2 p{
  font-size: 20px;
}

.heart-title div {
  font-size: 25px;
}

.heartOrientation {
  transform: rotate(45deg) translateY(-1em);
  margin-left: 20%
}

/* Heart Stem - Point */
.heart {
  background: red;
  position: relative;
  height: 150px;
  width:150px;
  /* Animation */
  animation: pulse 2s linear infinite;
  margin-top: 30%;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20%;
}

/* Left side of heart */
.heart::after {
  background: inherit;
  border-radius: 50%; 
  content:'';
  position:absolute;
  top: -50%; 
  left:0;
  height: 150px;
  width: 150px;
}

/* Right side of heart */
.heart::before {
  background:inherit; 
  border-radius: 50%; 
  content:'';
  position:absolute;
  top:0; 
  right:-50%; 
  height: 150px;
  width:150px;
}

/* Adjusts text box inside of heart */
.heart input {
  position: relative;
  z-index: 1;
  transform: rotate(45deg) translateY(1.5em);
  width: 220px;
  margin-left: 20px;
  margin-top: 100px;
}


/* Heart Beat Animation */
@keyframes pulse{
  0% {
      transform: rotate(-450deg) scale(1);
      opacity: 1;
  }
  
  /*
  10% {
      transform: rotate(-45deg) scale(1.3);
  }
  20% {
      transform: rotate(-45deg) scale(0.9);
  }
  30% {
      transform: rotate(-45deg) scale(1.2);
  }
  40% {
      transform: rotate(-45deg) scale(0.9);
  }*/
  
  50% {
      transform: rotate(-450deg) scale(1.3);
      opacity: 1;
  }
  
  /*
  60% {
      transform: rotate(-45deg) scale(0.95);
  }
  70% {
      transform: rotate(-45deg) scale(1);
  } */
  
  100% {
      transform: rotate(-450deg) scale(1);
      opacity: 1;
  }
}


#compatibilityFormSearchBtn {
    background-color: #080e09; 
    color: white;
    margin-top: 10%;
    font-size: 30px;
    width: 40%;
}

#compatibilityFormSearchBtn:hover {
  background-color: #575486; 
  transition: 0.3s;
}

.button {
  background-color: #080e09; 
  color: white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  width: 400px;
  height: 80px;
  border: 7px solid black;
  padding-bottom: 50px;
}

/* Progress bar section */
.progress {
  margin: auto;
  position: relative;
  width: 75vw;
  height: 75px;
  background: pink;
  border-radius: 25px;
  overflow: hidden;
}

.progress-fill {
  width: 0%;
  height: 100%;
  background: red;
  transition: all 0.2s;
}

.progress-text {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font: bold 14px "Quicksand", sans-serif;
  color: #110101;
}

/* Compatibility Progress Bar Seciton */
#compat-interp {
  padding-top: 15px;
  font-size: 20px;
}

/* Joke Section */
#jokeHeader {
  background-color: #f58dcf;
  text-align: center;
  padding: 3rem 2rem 3rem 2rem;
  border: #080e09 solid 3px;
}

#jokeFieldset {
  /* border: #080e09 2px solid; */
    display: block;
  /* text-align: center; */
    /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */

  padding-right: 20px;
}

#jokeLegend {
  font-size: 40px;
  width: 60%;
  border-bottom: black 5px solid;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 40px;
}

#jokeFieldset div {
  /* border: #080e09 2px solid; */
  display: block;
  /* text-align: center; */
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
}

#checkBoxes div {
  display: inline-block;
  width: 150px;
  margin-top: 20px;
}

/* Checkbox Size */
input[type=checkbox] {
  transform: scale(2);
}

#pro {
  color:  rgb(38, 109, 167);
  font-weight: bolder;
  font-size: larger;
}

#misc {
  color: #d00;
  font-weight: bolder;
  font-size: larger;
}

#dark {
  color: rgb(36, 14, 14);
  font-weight: bolder;
  font-size: larger;
}

#pun {

  color:#13866f;
  font-weight: bolder;
  font-size: larger;
}

#spo {
  color: rgb(248, 168, 93);
  font-weight: bolder;
  font-size: larger;
}

#chr {
  color: rgb(107, 41, 88);
  font-weight: bolder;
  font-size: larger; 
}

#jokeCheckBoxSubmit {
  background-color: #080e09; 
  color: white;
  padding: 15px 42px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
}

#jokeCheckBoxSubmit:hover {
  background-color: #575486; 
  transition: 0.3s;
}

#jokeSectionJoke {
  padding-left: 20px;
  padding-right: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 20px;
}

#jokeSectionJoke span {
  border-top: black 5px solid;
  border-radius: 10px;
  padding-left: 52%;
  padding-right: 52%;
}

#jokeSectionJoke div h3 {
  font-size: 60px;
  margin-left: 0px;
  font-weight: 600;
}

#jokeSectionJoke div p {
  margin-left: 0px;
  font-size: 25px;
}

/* Activity Section */
#activitySection {
  border-top: #080e09 3px dotted;
}

#activitySection h2 {
  padding: 2px 2px;
  border: rgb(243, 243, 243) 2px solid;
  background-color: rgb(243, 243, 243);
  width: 40%;
  border-radius: 0px 0px 100px 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#activitySection div {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
}

#activityGeneratorSubmit {
  background-color: #080e09; 
  color: white;
  padding: 15px 42px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
}

#activityGeneratorSubmit:hover {
  background-color: #575486; 
  transition: 0.3s;
}

/* History section */
#searchHistorySection {
  background-color: #ffadc7;
  border-top: #080e09 3px solid;
}

#searchHeader {
  margin-top: 30px;
  border-bottom: #080e09 4px groove;
  width: 60%;
  /* border-style: ; */
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  justify-content: space-around;
}

#searchHeader h4 {
  font-size: 40px;
  display: inline-block;
  margin-right: 80px;
  font-weight: 600;
  border: 4px solid black;
  padding: 20px;
  border-bottom: none;
}

#clearSearchHistory {
  background-color: #080e09; 
  color: white;
  width: 90px;
  text-align: center;
  font-size: 16px;
  margin-left: 20px;
  padding: 1px;
  position: relative;
  bottom: 15px;
  margin-bottom: 0;
}

#clearSearchHistory:hover{
  background-color: #e20909; 
  transition: 0.3s;
}

#listHistory {
  list-style-type: none;
  margin-left:0;
  margin-top: 50px;
}

#listHistory li {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Adjust for media size */
@media screen and (max-width: 641px) {
  /* Heart Stem - Point */
  .heart {
    margin-left: auto;
    margin-right: auto;
  }
  .heartOrientation {
    transform: rotate(45deg) translateY(-1em);
    margin-left: auto;
  }
  #jokeLegend{
    font-size: 40px;
    width:100%;
    margin-left: 5px;
  }
  #activitySection h2 {
    width: 60%;
  }
  #searchHeader {
    width: 100%;
  }

  #searchHeader h4 {
    margin-right:0px;
    margin-bottom: 50px;
  }

  #clearSearchHistory {
    background-color: #080e09; 
    color: white;
    right: 15px;
    text-align: center;
    width: 400px;
  }

  #listHistory {
    margin-top: 20px;
  }
}